* {
    margin: 0;
    display: flexbox;
}

.player1 {
    float: left;
    margin-left: 10%;
    max-width: 600px;
    min-width: 100px;
    width: 25%;
    background-color: rgb(158, 255, 250);
    padding: 2%;
}

.player2 {
    float: right;
    margin-right: 10%;
    max-width: 600px;
    min-width: 100px;
    width: 25%;
    background-color: rgb(255, 200, 200);
    padding: 2%;
}

.midcontianer {
    display: block;
}


.footercontainer {
    margin-top: 10%;
}

#instructions {
    max-width: 600px;
    min-width: 300px;
    width: 30%;
}

#p1text, #p2text {
    width: 75%;
}

p {
    font-size: 12px;
}

h4 {
    font-size: 20px;
}

#exp {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}